
    /*font style for the page*/
    *{font-family:sans-serif;}
    #space{margin-top:100px;}
    #ovelay{position: fixed;width: 100%;height: 100%;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,0.5);z-index: -1;}

    /*coming Soon style*/
    h1{color: rgba(217, 228, 248,0.8);font-size: 28pt;}

    /*CountDown style*/
    ul li{display: inline-block;color:aqua;font-size: 40pt;opacity: 0.7;padding-right:22px;margin-top: 10px;}
    .dateTitle{font-size:10pt;color: white;}

    /*space in between time and labels*/
    p{margin-top: -55px;}
    
    .subTitle{color: cornflowerblue;opacity: 0.7;font-size: 22pt;}
    .inputField{margin-right: 40px;}
     

     
    .socialMedia i{padding: 5px 10px;color:aqua;margin-top: 20px;font-size:15pt;} 
    .socialMedia i:hover{color:black;opacity: 0.8;cursor: pointer;border:2px solid aqua;border-radius:10%;padding: 3px 8px;background-color: rgba(255,255,255,0.5);}

     @media only screen and (max-width: 500px){
        *{top:0;left:0;font-family:sans-serif;}
        ul li{display: inline-block;color:aqua;font-size: 15pt;opacity: 0.7;padding-right:22px;margin-top: 10px;}
        .dateTitle{font-size:10pt;color: white;}
        #space{margin-top:170px;}
        /*space in between time and labels*/
        p{margin-top: -55px;}
        
        .subTitle{font-size: 22pt;}
        .socialMedia i{font-size:15pt;} 
       
    }